body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b9b9b9;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: none;
    max-width: 500px;
}

li {
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 10px 15px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

li span {
    cursor: pointer;
}

button {
    background-color: #4cb85c;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

button:hover {
    background-color: #449d44;
}

button[type="submit"] {
    background-color: #337ab7;
}

button[type="submit"]:hover {
    background-color: #286090;
}

button.disabled {
    background-color: grey;
    cursor: not-allowed;
    color: #666;
}

button.disabled:hover {
    background-color: grey;
}

.sem-tarefas {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 50px;
}
 